p {
    font-size: 100px;
    font-weight: 200;
    color: #ebebeb;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}
a {
    font-size: 100px;
    font-weight: 200;
    color: #ebebeb;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}