body {
    background-color: #151515;
}
 h1 {
    font-size: 100px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}
 p {
     font-size: 30px;
     font-weight: 200;
     color: #999966;
     text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
     0px 0px 20px #339933;
}
 h2 {
     font-size: 30px;
     font-weight: 200;
     color: #999966;
     text-shadow: 0px 0px 5px #FF0000, 0px 0px 10px #FF0000, 0px 0px 10px #FF0000,
     0px 0px 20px #FF0000;
 }
 h3 {
     margin-left: 100px;
     font-size: 50px;
     font-weight: 200;
     color: #999966;
     text-shadow: 0px 0px 5px #FF0000, 0px 0px 10px #FF0000, 0px 0px 10px #FF0000,
     0px 0px 20px #FF0000;
 }
 p1 {
     margin-left: 100px;
     font-size: 30px;
     font-weight: 200;
     color: #999966;
     text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
     0px 0px 20px #339933;
 }
h4 {
    font-size: 200px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}
p2 {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 200;
    color: #ebebeb;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}
h5 {
    font-size: 30px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #339933, 0px 0px 10px #339933, 0px 0px 10px #339933,
    0px 0px 20px #339933;
}



